APP_ENV=

# Variables for MySQL Container Initialization (used by the 'db' service)
MYSQL_ROOT_PASSWORD=

# Variables for my Application Connection (used by the 'backend' service)
DB_URL=
DB_USER=
DB_PASSWORD=

# Variables for Email Service Configuration (used by the 'backend' service)
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
FROM_EMAIL=
FROM_NAME=